{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">


    <title>Home</title>
  </head>
  <body>
    <header>
        <nav class="navbar">
            <a href="{% url 'home' %}" class="logo">Grabr</a>
            
            <div class="nav-links">
                <a class="header-username" href="profile.html">Fonctionnalités</a> 
                
                <a class="header-username" href="profile.html">Comment ça marche</a>
            </div>
        
            <a class="profile-icon-link-container" href="{% url 'profile' %}">
                <img src="{{ profile.profile_photo.url }}" alt="User Image" >

            </a>
        </nav>
        
    </header>

    <script>
        var cross = document.getElementById('cross')
        cross.addEventListener('click', ()=> {
            document.getElementsByClassName('notification-container')[0].style.display = 'none';
        })

    </script>


<main class="main-container">
    <div class="container">
        <div class="profile-photo-container">
            <!-- Affichage de l'image de profil -->
            <img src="{{ profile.profile_photo.url }}" alt="User Image" width="100px">
        </div>

        <div class="user-content-container">
            <p class="username">{{ request.user.username }}</p>
            <p class="user-title">{{ request.user.email }}</p>
            <p class="user-desc">This is your profile, you can edit it in profile.</p>
            <div class="profile-edit-link-container">
                <a href="{% url 'edit_profile' %}">Edit</a>
                <br>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            </div>
        </div>
    </div>
</main>

  </body>
</html>
